/* меню */
/* Горизонтальный планшет <=1024px */
@media (max-width: 1024px) {
  .menu-wrapper {
    max-width: 940px;
  }
}

@media (max-width: 920px) and (min-width: 769px) {
  .menu-wrapper {
    max-width: 95%;
  }
}

@media (min-width: 769px) {
  .mobile-header,
  .mobile-menu-overlay {
    display: none !important;
  }
}

/* Вертикальный планшет <=768px */
@media (max-width: 768px) {
  .main-menu {
    display: none;
  }

  body.mobile-open {
    overflow: hidden;
  }

  .mobile-header {
    position: absolute;
    top: 30px;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
  }

  .mobile-header.fixed {
    position: fixed;
    top: 0;
    background: #f8f8f8;
    padding: 12px;
    border-radius: 0;
  }

  .mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-logo img {
    height: 28px;
  }

  .menu-toggle {
    display: flex;
    align-items: center;
    gap: 4px;
    background: none;
    border: none;
    font-family: "CoFo Sans";
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    letter-spacing: -0.64px;
    cursor: pointer;
  }

  .menu-toggle .burger-icon {
    transition: transform 0.3s ease;
  }

  .menu-toggle.active .burger-icon {
    transform: rotate(45deg);
  }

  .mobile-menu-overlay {
    display: none;
  }

  .mobile-menu-overlay.active {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #ffe8ea 2.9%,
      #f8f8f8 22.49%,
      #ffe8ea 88.63%
    );
    padding: 24px 12px;
    box-sizing: border-box;
  }

  .mobile-overlay-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    margin: auto 0;
  }

  .mobile-nav a {
    font-family: "CoFo Sans";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #232323;
    text-decoration: none;
  }

  .mobile-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .footer-mail {
    font-family: "CoFo Sans";
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.96px;
    line-height: 130%;
    color: #232323;
    text-align: center;
    margin: 0;
  }

  .profile-link {
    color: #232323;
    font-family: "CoFo Sans";
    font-size: 16px;
    text-decoration: none;
  }

  .mobile-background-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    height: 120px;
    pointer-events: none;
    z-index: -100;
  }

  .ticker {
    display: flex;
    width: max-content;
    animation: ticker-move 20s ease-in-out infinite;
    white-space: nowrap;
    font-family: "CoFo Sans";
    font-size: 100px;
    font-weight: 500;
    color: #f8cfd3;
    letter-spacing: -6px;
    text-transform: uppercase;
  }

  .ticker span {
    padding-right: 64px;
  }
}

/* футтер */
/* Горизонтальный планшет <=1024px */
@media (max-width: 1024px) {
  .footer-container {
    width: 940px;
  }

  .footer-email {
    font-size: 97px;
  }
}

@media (max-width: 920px) and (min-width: 769px) {
  .footer-container {
    width: 860px;
  }

  .footer-email {
    font-size: 85px;
  }
}

/* Вертикальный планшет <=768px */
@media (max-width: 768px) {
  .site-footer {
    width: 696px;
    padding: 40px 36px;
  }

  .footer-container {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .footer-text-left {
    display: none;
  }

  .profile-link {
    color: #f8f8f8;
    text-decoration-line: underline;
    text-underline-offset: 4.5px;
    text-decoration-thickness: 0.54px;
    text-decoration-skip-ink: auto;
  }

  .footer-text-right {
    text-align: left;
    width: 100%;
  }

  .footer-email {
    font-size: 72px;
  }

  .footer_bottom {
    width: 696px;
    padding: 36px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 36px;
    align-items: flex-end;
  }
  .footer_middle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 560px) and (min-width: 481px) {
  .footer-container {
    width: 460px;
  }

  .footer-email {
    font-size: 50px;
  }

  .footer_bottom {
    width: 440px;
    padding: 24px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .copywrite,
  .privacy_page {
    text-align: center;
  }
}

/* Телефон <=480px */
@media (max-width: 480px) {
  .site-footer {
    width: 100%;
  }

  .footer-container {
    width: 336px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .footer-text-left {
    display: none;
  }

  .footer-text-right {
    text-align: left;
    width: 100%;
    max-width: 100%;
  }

  .footer-email {
    font-size: 32px;
  }

  .footer_bottom {
    width: 336px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .footer_bottom .my_profile {
    order: 1;
  }

  .footer_bottom .privacy_page {
    order: 2;
  }

  .footer_bottom .copywrite {
    order: 3;
  }

  .copywrite,
  .privacy_page {
    text-align: center;
  }

  .copywrite,
  .profile-link,
  .privacy-link {
    font-size: 16px;
  }
}

/* Политика */
/* Горизонтальный планшет <=1024px */
@media (max-width: 1024px) {
  .policy {
    width: 940px;
    max-width: 100%;
  }

  .policy_container {
    gap: 140px;
  }

  .policy_title {
    width: 462px;
    max-width: 100%;
  }
}

@media (max-width: 920px) and (min-width: 769px) {
  .policy {
    width: 880px;
    max-width: 100%;
  }

  .policy_title {
    width: 440px;
  }

  .policy_container {
    gap: 120px;
  }
}

/* Вертикальный планшет <=768px */
@media (max-width: 768px) {
  .policy {
    width: 696px;
    max-width: 100%;
  }

  .policy_title {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .policy_container {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .policy_adoption {
    width: 100%;
    margin-bottom: 20px;
  }

  .policy_text {
    width: 100%;
  }
}

@media (max-width: 560px) and (min-width: 481px) {
  .policy {
    width: 480px;
    max-width: 100%;
  }

  .policy_title {
    font-size: 38px;
    margin-bottom: 40px;
    width: 480px;
    max-width: 480px;
  }

  .policy_container {
    display: block;
    margin-bottom: 40px;
  }

  .policy_adoption {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
  }

  .policy_text {
    font-size: 16px;
    display: block;
  }
}

/* Телефон <=480px */
@media (max-width: 480px) {
  .policy {
    width: 336px;
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }

  .policy_title {
    font-size: 36px;
    width: 100%;
    margin-bottom: 40px;
  }

  .policy_container {
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  .policy_adoption,
  .policy_text {
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* события */
/* 481 <= экраны <=1439 */
@media (min-width: 481px) and (max-width: 1439px) {
  .events {
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    margin-top: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .event-card {
    flex: 0 0 auto;
    width: 300px;
    min-height: 458px;
    transform: none !important;
    position: static;
    scroll-snap-align: start;
    opacity: 1 !important;
  }

  .event-card h3 {
    font-size: 32px;
  }

  .event-card img {
    width: 100%;
    height: auto;
  }

  .fade-sticky {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }

  .black-card,
  .pink-card {
    transform: none !important;
  }

  .events-stroke {
    display: none;
  }

  .events {
    scrollbar-width: none;
  }

  .events::-webkit-scrollbar {
    display: none;
  }

  .events-stroke {
    position: absolute;
    display: block;
    top: 240px;
    width: 100%;
    overflow: hidden;
    height: 285px;
    pointer-events: none;
    z-index: -100;
  }

  .events-ticker {
    display: flex;
    width: max-content;
    animation: events-ticker-move 20s ease-in-out infinite;
    white-space: nowrap;
    color: #f8cfd3;
    font-family: "CoFo Sans";
    font-size: 300px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -12px;
    text-transform: uppercase;
  }

  .events-ticker span {
    padding-right: 64px;
  }
}

/* экраны <= 480*/
@media (max-width: 480px) {
  .events {
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
    margin-top: 40px;
    align-items: flex-start;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .event-card {
    flex: 0 0 auto;
    width: 300px;
    min-height: 405px;
    transform: none !important;
    position: static;
    scroll-snap-align: start;
    opacity: 1 !important;
  }

  .event-card h3 {
    font-size: 28px;
  }

  .event-card p {
    font-size: 16px;
  }

  .event-card img {
    width: 100%;
    height: auto;
  }

  .fade-sticky {
    opacity: 1 !important;
    transform: none !important;
    transition: none !important;
  }

  .black-card,
  .pink-card {
    transform: none !important;
  }

  .events-stroke {
    display: none;
  }

  .events {
    scrollbar-width: none;
  }

  .events::-webkit-scrollbar {
    display: none;
  }

  .events-stroke {
    position: absolute;
    display: block;
    top: 180px;
    width: 100%;
    overflow: hidden;
    height: 142px;
    pointer-events: none;
    z-index: -100;
  }

  .events-ticker {
    display: flex;
    width: max-content;
    animation: events-ticker-move 20s ease-in-out infinite;
    white-space: nowrap;
    color: #f8cfd3;
    font-family: "CoFo Sans";
    font-size: 150px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -12px;
    text-transform: uppercase;
  }

  .events-ticker span {
    padding-right: 64px;
  }
}

/* главная  */
@media (min-width: 768px) {
  .tickers-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2px;
    z-index: -100;
    pointer-events: none;
  }

  .ticker-row {
    width: 100%;
    overflow: hidden;
    height: 237px;
  }

  .ticker {
    display: flex;
    width: max-content;
    white-space: nowrap;
    font-family: "CoFo Sans";
    font-size: 250px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -12px;
    text-transform: uppercase;
  }

  .ticker span {
    padding-right: 48px;
  }

  .ticker-pink {
    color: #f8f8f8;
    animation: ticker-left 50s ease-in-out infinite;
  }

  .ticker-white {
    color: #f8f8f8;
    animation: ticker-right 40s ease-in-out infinite;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .main-description p {
    font-size: 16px;
  }

  .tickers-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2px;
    z-index: -100;
    pointer-events: none;
  }

  .ticker-row {
    width: 100%;
    overflow: hidden;
    height: 171px;
  }

  .ticker {
    display: flex;
    width: max-content;
    white-space: nowrap;
    font-family: "CoFo Sans";
    font-size: 180px;
    font-style: normal;
    font-weight: 500;
    line-height: 95%;
    letter-spacing: -12px;
    text-transform: uppercase;
  }

  .ticker span {
    padding-right: 48px;
  }

  .ticker-pink {
    color: #ffe8ea;
    animation: ticker-left 50s ease-in-out infinite;
  }

  .ticker-white {
    color: #ffe8ea;
    animation: ticker-right 40s ease-in-out infinite;
  }
}

/* департамент  */
@media (max-width: 1024px) {
  .department-book h2 {
    max-width: 596px;
    margin: 0 auto 40px;
  }

  .gallery-wrapper {
    width: 940px;
  }

  .gallery-img {
    width: 940px;
  }
}

@media (max-width: 920px) and (min-width: 769px) {
  .gallery-wrapper {
    width: 860px;
  }

  .gallery-img {
    width: 860px;
  }
}

@media (max-width: 768px) {
  .department-book h2 {
    max-width: 596px;
    margin: 0 auto 40px;
  }

  .gallery-wrapper {
    width: 696px;
  }

  .gallery-img {
    width: 696px;
  }
}

@media (max-width: 560px) and (min-width: 481px) {
  .gallery-wrapper {
    width: 440px;
  }

  .gallery-img {
    width: 440px;
  }

  .gallery-controls {
    width: 310px;
  }
}

@media (max-width: 480px) {
  body {
    box-sizing: border-box;
  }

  .department {
    max-width: 336px;
    width: 100%;
    margin: 90px auto 100px;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .department-book h2 {
    font-size: 36px;
  }

  .gallery-wrapper {
    width: 100%;
    min-width: 360px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
  }

  .gallery-img {
    width: 100%;
    max-width: 360px;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
  }

  .gallery-controls {
    width: 306px;
  }

  .gallery-controls button {
    font-size: 16px;
  }
}

/* магазин  */

/* магазин попап */
@media (max-width: 480px) {
  .popup-close {
    top: 40px;
  }

  .shop-popup {
    width: 100%;
    height: 100%;
    justify-content: center;
    gap: 20px;
    padding: 24px;
  }

  .popup-title {
    width: 296px;
    font-size: 28px;
  }

  .popup-form input,
  .popup-form textarea {
    width: 296px;
    font-size: 16px;
  }

  .popup-submit {
    width: 320px;
    font-size: 16px;
  }

  .popup-submit {
    padding: 12px;
  }

  popup-policy {
    max-width: 320px;
  }
}
