/* Политика */
/* Для планшета горизонтального (1024px) */
@media (max-width: 1024px) {
  .policy {
    width: 940px;
    max-width: 100%;
  }

  .policy_container {
    gap: 140px;
  }

  .policy_title {
    width: 462px;
  }
}

/* Для планшета вертикального (768px) */
@media (max-width: 768px) {
  .policy {
    width: 696px;
    max-width: 100%;
  }

  .policy_title {
    display: block;
    margin-bottom: 40px;
    width: 696px;
    max-width: 696px;
  }

  .policy_container {
    display: block;
    margin-bottom: 40px;
  }

  .policy_adoption {
    display: block;
    margin-bottom: 20px;
  }

  .policy_text {
    display: block;
  }
}

/* Для телефона (360px) */
@media (max-width: 480px) {
  .policy {
    width: 336px;
    max-width: 100%;
  }

  .policy_title {
    font-size: 36px;
    margin-bottom: 40px;
    width: 336px;
    max-width: 336px;
  }

  .policy_container {
    display: block;
    margin-bottom: 40px;
  }

  .policy_adoption {
    font-size: 16px;
    margin-bottom: 20px;
    display: block;
  }

  .policy_text {
    font-size: 16px;
    display: block;
  }
}
