@font-face {
  font-family: "CoFo Sans";
  src: url("../fonts/CoFoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CoFo Sans";
  src: url("../fonts/CoFoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CoFo Sans";
  src: url("../fonts/CoFoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
