html,
body {
  overflow: hidden;
  height: 100%;
}

[data-scroll-container] {
  will-change: transform;
}

/* Политика */
body {
  margin: 0;
  font-family: "CoFo Sans";
  background: linear-gradient(
    180deg,
    #ffe8ea 4.52%,
    #f8f8f8 23.74%,
    #ffe8ea 88.63%
  );
  color: #232323;
  padding-top: 90px;
}

.policy {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.policy_title {
  font-weight: 500;
  font-size: 70px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  color: #232323;
  margin: 0 0 50px 0;
  text-align: left;
  width: 367px;
  max-width: 666px;
}

.policy_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1160px;
  gap: 297px;
}

.policy_adoption {
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.3;
  color: #232323;
  text-align: left;
  width: 103px;
}

.policy_adoption .medium {
  font-weight: 500;
  display: inline-block;
}

.policy_adoption .regular {
  font-weight: 400;
  display: inline-block;
}

.policy_text {
  flex: 1 1 auto;
  font-size: 18px;
  line-height: 1.3;
  color: #232323;
  text-align: left;
}

.policy_text p {
  margin-top: 0;
  margin-bottom: 1em;
}

.policy_text strong {
  font-weight: 600;
}

.mail_link {
  color: #232323;
  text-decoration: underline;
}

