html {
  scroll-behavior: smooth;
}

/* Меню статик */
.main-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}

.menu-wrapper {
  max-width: 1160px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-logo {
  display: block;
  width: auto;
  height: 70%;
}

.menu-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.menu-nav a,
.menu-mail {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #232323;
  text-decoration: none;
  transition: filter 0.2s ease;
}

.menu-mail {
  font-weight: 500;
  letter-spacing: -0.04em;
}

.menu-nav a:hover,
.menu-mail:hover {
  filter: blur(2px);
}

/* Меню фикс */
.main-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1000;
  height: 40px;
}

/* футтер */
.site-footer {
  width: 100%;
  background-color: #232323;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.footer_top {
  margin-bottom: 84px;
}

.footer-text-left,
.footer-text-right {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #f8f8f8;
  max-width: 50%;
  text-transform: uppercase;
  line-height: 1.3;
}

.footer-text-left {
  text-align: left;
}

.footer-text-right {
  text-align: right;
}

.footer_middle {
  justify-content: center;
  margin-bottom: 84px;
}

.footer-email {
  font-weight: 500;
  font-size: 100px;
  letter-spacing: -0.04em;
  color: #f8f8f8;
  text-decoration: none;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.footer-email:hover {
  filter: blur(2px);
}

.footer_bottom {
  align-items: flex-end;
}

.copywrite {
  font-weight: 400;
  font-size: 18px;
  color: #f8f8f8;
  text-align: left;
}

.my_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile-icon {
  cursor: pointer;
}

.profile-link {
  color: #f8f8f8;
  font-family: "CoFo Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration-line: underline;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 0.54px;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.profile-link:hover {
  filter: blur(2px);
}

.privacy_page {
  text-align: right;
}

.privacy-link {
  color: #f8f8f8;
  font-family: "CoFo Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 0.54px;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.privacy-link:hover {
  filter: blur(2px);
}

/* Политика */
body {
  margin: 0;
  font-family: "CoFo Sans";
  background: linear-gradient(
    180deg,
    #ffe8ea 4.52%,
    #f8f8f8 23.74%,
    #ffe8ea 88.63%
  );
  color: #232323;
}

.policy {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}

.policy_title {
  font-weight: 500;
  font-size: 70px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  color: #232323;
  margin: 0 0 50px 0;
  text-align: left;
  width: 367px;
  max-width: 666px;
}

.policy_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1160px;
  gap: 297px;
  margin-bottom: 100px;
}

.policy_adoption {
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.3;
  color: #232323;
  text-align: left;
  width: 103px;
}

.policy_adoption .medium {
  font-weight: 500;
  display: inline-block;
}

.policy_adoption .regular {
  font-weight: 400;
  display: inline-block;
}

.policy_text {
  flex: 1 1 auto;
  font-size: 18px;
  line-height: 1.3;
  color: #232323;
  text-align: left;
}

.policy_text p {
  margin-top: 0;
  margin-bottom: 1em;
}

.policy_text strong {
  font-weight: 600;
}

.mail_link {
  color: #232323;
  text-decoration: underline;
}

.fade-blur {
  opacity: 0;
  filter: blur(20px);
  transform: translateY(40px);
  transition: opacity 1.2s ease, filter 1.2s ease, transform 1.2s ease;
  will-change: opacity, filter, transform;
}

.fade-blur.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* 404 */
.error-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.error-container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.error-text {
  color: #232323;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.error-button {
  display: inline-block;
  width: 156px;
  height: 47px;
  background-color: #232323;
  color: #f8cfd3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  transition: 0.3s ease;
}

.error-button:hover {
  background-color: #ffe8ea;
  color: #f8cfd3;
}

.overlay-image {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  object-fit: contain;
  z-index: 0.5;
  pointer-events: none;
}

/* события */
.events-list {
  padding: 120px 0 100px;
}

.events-stroke {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 285px;
  pointer-events: none;
  z-index: -100;
  top: 50%;
  transform: translateY(-50%);
}

.events-ticker {
  display: flex;
  width: max-content;
  animation: events-ticker-move 20s ease-in-out infinite;
  white-space: nowrap;
  color: #f8cfd3;
  font-family: "CoFo Sans";
  font-size: 300px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -12px;
  text-transform: uppercase;
}

.events-ticker span {
  padding-right: 64px;
}

.events {
  margin-top: 90px;
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  position: relative;
  z-index: 1;
}

.event-card {
  width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: sticky;
  top: 100px;
  opacity: 1;
  transform: translateY(40px);
  transition: all 1s ease;
}

.event-posters {
  width: 420px;
  height: 292px;
}

.event-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.black-card {
  background: #232323;
  transform: rotate(-8deg);
}

.pink-card {
  background: #f8f8f8;
  transform: rotate(10deg);
}

.black-card h3,
.black-card p {
  color: #ffe8ea;
}

.pink-card h3,
.pink-card p {
  color: #f8cfd3;
}

.event-card h3 {
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.44px;
}

.event-card p {
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

/* главная */
body.home {
  background: #ffffff;
}

canvas#gradient-canvas {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tickers-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: -100;
  pointer-events: none;
}

.ticker-row {
  width: 100%;
  overflow: hidden;
  height: 285px;
}

.ticker {
  display: flex;
  width: max-content;
  white-space: nowrap;
  font-family: "CoFo Sans";
  font-size: 300px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -12px;
  text-transform: uppercase;
}

.ticker span {
  padding-right: 48px;
}

.ticker-pink {
  color: #f8f8f8;
  animation: ticker-left 50s ease-in-out infinite;
}

.ticker-white {
  color: #f8f8f8;
  animation: ticker-right 40s ease-in-out infinite;
}

.pink-text {
  color: #f8f8f8;
}

.main-description {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-description p {
  width: 473px;
  margin: 0;
  color: #232323;
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  position: relative;
  z-index: 1;
}

/* скроллбар */
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #ffe8ea;
}

body::-webkit-scrollbar-thumb {
  background-color: #f8cfd3;
  border-radius: 10px;
  border: 2px solid #ffe8ea;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #e6b8bd;
}
