html {
  scroll-behavior: smooth;
}

/* Меню статик */
.main-menu {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 0.3s ease;
}

.menu-wrapper {
  max-width: 1160px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu-logo {
  display: block;
  width: auto;
  height: 70%;
}

.menu-nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.menu-nav a,
.menu-mail {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #232323;
  text-decoration: none;
  transition: filter 0.2s ease;
}

.menu-mail {
  font-weight: 500;
  letter-spacing: -0.04em;
}

.menu-nav a:hover,
.menu-mail:hover {
  filter: blur(2px);
}

/* Меню фикс */
.main-menu.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 1000;
  height: 40px;
}

/* футтер */
.site-footer {
  width: 100%;
  background-color: #232323;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 1160px;
  display: flex;
  justify-content: space-between;
}

.footer_top {
  margin-bottom: 84px;
}

.footer-text-left,
.footer-text-right {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #f8f8f8;
  max-width: 50%;
  text-transform: uppercase;
  line-height: 1.3;
}

.footer-text-left {
  text-align: left;
}

.footer-text-right {
  text-align: right;
}

.footer_middle {
  justify-content: center;
  margin-bottom: 84px;
}

.footer-email {
  font-weight: 500;
  font-size: 100px;
  letter-spacing: -0.04em;
  color: #f8f8f8;
  text-decoration: none;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.footer-email:hover {
  filter: blur(2px);
}

.footer_bottom {
  align-items: flex-end;
}

.copywrite {
  font-weight: 400;
  font-size: 18px;
  color: #f8f8f8;
  text-align: left;
}

.my_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.profile-icon {
  cursor: pointer;
}

.profile-link {
  color: #f8f8f8;
  font-family: "CoFo Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration-line: underline;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 0.54px;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.profile-link:hover {
  filter: blur(2px);
}

.privacy_page {
  text-align: right;
}

.privacy-link {
  color: #f8f8f8;
  font-family: "CoFo Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 4.5px;
  text-decoration-thickness: 0.54px;
  text-decoration-skip-ink: auto;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.privacy-link:hover {
  filter: blur(2px);
}

/* Политика */
body {
  margin: 0;
  font-family: "CoFo Sans";
  background: linear-gradient(
    180deg,
    #ffe8ea 4.52%,
    #f8f8f8 23.74%,
    #ffe8ea 88.63%
  );
  color: #232323;
}

.policy {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
}

.policy_title {
  font-weight: 500;
  font-size: 70px;
  line-height: 0.95;
  letter-spacing: -0.04em;
  color: #232323;
  margin: 0 0 50px 0;
  text-align: left;
  width: 367px;
  max-width: 666px;
}

.policy_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1160px;
  gap: 297px;
  margin-bottom: 100px;
}

.policy_adoption {
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 1.3;
  color: #232323;
  text-align: left;
  width: 103px;
}

.policy_adoption .medium {
  font-weight: 500;
  display: inline-block;
}

.policy_adoption .regular {
  font-weight: 400;
  display: inline-block;
}

.policy_text {
  flex: 1 1 auto;
  font-size: 18px;
  line-height: 1.3;
  color: #232323;
  text-align: left;
}

.policy_text p {
  margin-top: 0;
  margin-bottom: 1em;
}

.policy_text strong {
  font-weight: 600;
}

.mail_link {
  color: #232323;
  text-decoration: underline;
}

.fade-blur {
  opacity: 0;
  filter: blur(20px);
  transform: translateY(40px);
  transition: opacity 1.2s ease, filter 1.2s ease, transform 1.2s ease;
  will-change: opacity, filter, transform;
}

.fade-blur.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

/* 404 */
.error-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.error-container {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.error-text {
  color: #232323;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.error-button {
  display: inline-block;
  width: 156px;
  height: 47px;
  background-color: #232323;
  color: #f8cfd3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 47px;
  text-align: center;
  transition: 0.3s ease;
}

.error-button:hover {
  background-color: #f8cfd3;
  color: #232323;
}

.overlay-image {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  width: 95%;
  height: 95%;
  object-fit: contain;
  z-index: 0.5;
  pointer-events: none;
}

/* события */
.events-list {
  padding: 120px 0 100px;
}

.events-stroke {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 285px;
  pointer-events: none;
  z-index: -100;
  top: 50%;
  transform: translateY(-50%);
}

.events-ticker {
  display: flex;
  width: max-content;
  animation: events-ticker-move 20s ease-in-out infinite;
  white-space: nowrap;
  color: #f8cfd3;
  font-family: "CoFo Sans";
  font-size: 300px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -12px;
  text-transform: uppercase;
}

.events-ticker span {
  padding-right: 64px;
}

.events {
  margin-top: 90px;
  max-width: 1160px;
  min-width: 336px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  position: relative;
  z-index: 1;
}

.event-card {
  width: 420px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: sticky;
  top: 100px;
  opacity: 1;
  transform: translateY(40px);
  transition: all 1s ease;
}

.event-posters {
  width: 420px;
  height: 292px;
}

.event-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.black-card {
  background: #232323;
  transform: rotate(-8deg);
}

.pink-card {
  background: #f8f8f8;
  transform: rotate(10deg);
}

.black-card h3,
.black-card p {
  color: #ffe8ea;
}

.pink-card h3,
.pink-card p {
  color: #f8cfd3;
}

.event-card h3 {
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.44px;
}

.event-card p {
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

/* главная */
body.home {
  background: #ffffff;
}

canvas#gradient-canvas {
  position: fixed;
  z-index: -999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  pointer-events: none;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tickers-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2px;
  z-index: -100;
  pointer-events: none;
}

.ticker-row {
  width: 100%;
  overflow: hidden;
  height: 285px;
}

.ticker {
  display: flex;
  width: max-content;
  white-space: nowrap;
  font-family: "CoFo Sans";
  font-size: 300px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -12px;
  text-transform: uppercase;
}

.ticker span {
  padding-right: 48px;
}

.ticker-pink {
  color: #f8f8f8;
  animation: ticker-left 50s ease-in-out infinite;
}

.ticker-white {
  color: #f8f8f8;
  animation: ticker-right 40s ease-in-out infinite;
}

.pink-text {
  color: #f8f8f8;
}

.main-description {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-description p {
  width: 473px;
  margin: 0;
  color: #232323;
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  position: relative;
  z-index: 1;
}

/* департамент */
.department {
  max-width: 1160px;
  margin: 90px auto 100px;
  padding: 0 20px;
}

.department-book h2 {
  padding-top: 90px;
  text-align: center;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -2.8px;
  margin-bottom: 40px;
}

.book-button {
  display: block;
  width: 240px;
  height: 47px;
  background: #232323;
  color: #f8cfd3;
  font-family: "CoFo Sans";
  font-size: 18px;
  line-height: 47px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  margin: 0 auto;
}

.book-button:hover {
  background-color: #f8cfd3;
  color: #232323;
}

.department-gallery {
  margin-top: 50px;
  text-align: center;
}

.gallery-wrapper {
  width: 960px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.gallery-track {
  display: flex;
  transition: transform 0.6s ease;
  will-change: transform;
}

.gallery-img {
  width: 960px;
  height: 500px;
  flex-shrink: 0;
  object-fit: cover;
  cursor: default;
}

.gallery-controls {
  display: flex;
  width: 560px;
  padding: 12px 30px;
  justify-content: space-between;
  align-items: center;
  background: #232323;
  margin: 20px auto 0;
}

.gallery-controls button {
  background: none;
  border: none;
  color: #f8cfd3;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.gallery-logo {
  height: 24px;
}

/* магазин */
.shop-gallery {
  margin: 90px auto 100px;
  padding: 0 12px;
  box-sizing: border-box;
  overflow: hidden;
}

.shop-gallery-wrapper {
  padding-top: 90px;
  margin: 0 auto;
  width: 1160px;
  overflow: hidden;
}

.shop-gallery-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease;
}

.shop-slide {
  display: flex;
  flex-shrink: 0;
  width: 1160px;
  height: 515px;
  gap: 40px;
}

.shop-img {
  width: 660px;
  height: 515px;
  object-fit: cover;
  display: block;
}

.shop-info {
  background: #232323;
  width: 460px;
  height: 515px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.shop-info h3 {
  color: #ffe8ea;
  font-family: "CoFo Sans";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.44px;
  margin: 0;
}

.shop-info p {
  padding-top: 20px;
  padding-bottom: 48px;
  color: #ffe8ea;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
}

.shop-table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  padding-bottom: 40px;
}

.shop-row {
  display: flex;
  padding-bottom: 6px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px solid #ffe8ea;
  width: 100%;
}

.shop-row span:first-child {
  font-weight: 700;
}

.shop-row span {
  color: #ffe8ea;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.shop-order {
  width: 396px;
  height: 47px;
  background-color: #f8cfd3;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.shop-order:hover {
  background-color: #ffe8ea;
  color: #232323;
}

.shop-controls {
  display: flex;
  width: 560px;
  padding: 12px 30px;
  justify-content: space-between;
  align-items: center;
  background: #232323;
  margin: 50px auto 0;
}

.shop-controls button {
  background: none;
  border: none;
  color: #f8cfd3;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.gallery-logo {
  height: 24px;
}

/* попап */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(248, 207, 211, 0.2);
  backdrop-filter: blur(12.5px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.shop-popup {
  display: flex;
  width: 560px;
  padding: 44px 32px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #232323;
  position: relative;
}

.popup-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.popup-title {
  width: 348px;
  color: #f8f8f8;
  text-align: center;
  font-family: "CoFo Sans";
  font-size: 36px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -1.44px;
  margin: 0;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.popup-form input,
.popup-form textarea {
  width: 472px;
  padding: 12px;
  background: #f8f8f8;
  border: none;
  font-family: "CoFo Sans";
  font-size: 18px;
  color: #232323;
  line-height: 130%;
}

.popup-form input::placeholder,
.popup-form textarea::placeholder {
  opacity: 0.4;
}

.popup-form textarea {
  height: 130px;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #f8f8f8;
}

.popup-submit {
  display: flex;
  width: 496px;
  padding: 12px 30px;
  justify-content: center;
  background: #f8cfd3;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 18px;
  cursor: pointer;
  border: none;
  transition: background 0.3s;
}

.popup-submit:hover {
  background-color: #ffe8ea;
}

.popup-policy {
  font-size: 14px;
  color: #f8f8f8;
  text-align: center;
  font-family: "CoFo Sans";
  line-height: 130%;
}

.popup-policy a {
  text-decoration: underline;
  color: #f8f8f8;
}

/* Сообщение об успехе */
.popup-success {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  background: rgba(248, 207, 211, 0.2);
  backdrop-filter: blur(12.5px);
}

.popup-success-message {
  display: flex;
  max-width: 300px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    180deg,
    #ffe8ea 4.52%,
    #f8f8f8 23.74%,
    #ffe8ea 88.63%
  );
  font-family: "CoFo Sans";
  font-size: 20px;
  font-weight: 500;
  color: #232323;
  letter-spacing: -0.8px;
  line-height: normal;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

/* о бюро */
.bureau-intro {
  width: 1160px;
  margin: 150px auto 0;
  text-align: center;
}

.bureau-intro h2 {
  color: #232323;
  margin-bottom: 40px;
  font-family: "CoFo Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -2.8px;
}

.bureau-button {
  display: inline-flex;
  width: 360px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #232323;
  color: #f8cfd3;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.bureau-button:hover {
  background-color: #ffe8ea;
  color: #f8cfd3;
}

.bureau-team {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 1160px;
  margin-inline: auto;
}

.bureau-team-title {
  margin-bottom: 40px;
  width: 863px;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -2.8px;
}

.team-members {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

.team-member {
  display: flex;
  width: 1160px;
  height: 480px;
  padding: 16px;
  align-items: flex-start;
  gap: 16px;
  position: sticky;
  top: 120px;
  z-index: 1;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.team-member.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.team-member:nth-child(1) {
  background: #232323;
}

.team-member:nth-child(2) {
  background: #f8cfd3;
}

.team-member:nth-child(3) {
  background: #232323;
}

.member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.member-info h2 {
  font-family: "CoFo Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -2.8px;
  margin-bottom: 290px;
}

.member-row {
  display: flex;
  align-items: center;
  gap: 110px;
  align-self: stretch;
  margin-bottom: 20px;
}

.member-row:nth-of-type(2) {
  gap: 92px;
}

.member-row {
  display: flex;
  align-items: center;
  gap: 110px;
  align-self: stretch;
  margin-bottom: 20px;
}

.member-row:nth-of-type(2) {
  gap: 92px;
}

.member-row p:first-child {
  font-weight: 700;
}

.team-member:nth-child(1) .member-info,
.team-member:nth-child(3) .member-info,
.team-member:nth-child(1) p,
.team-member:nth-child(3) p,
.team-member:nth-child(1) h2,
.team-member:nth-child(3) h2 {
  color: #ffe8ea;
}

.team-member:nth-child(2) .member-info,
.team-member:nth-child(2) p,
.team-member:nth-child(2) h2 {
  color: #232323;
}

.member-img {
  width: 550px;
  height: 477px;
  object-fit: cover;
  margin-left: auto;
}

.bureau-mission {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1160px;
  margin: 120px auto 0;
  gap: 16px;
}

.mission-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 278px;
  height: 400px;
  padding: 20px;
  gap: 10px;
  background: #ffddde;
  transition: all 0.4s ease;
  overflow: hidden;
}

.mission-card:nth-child(2) {
  background: #f8cfd3;
}

.mission-card:nth-child(3) {
  background: #ffe8ea;
}

.mission-card h4 {
  margin: 0;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.96px;
  transition: padding 0.4s ease;
}

.mission-card p {
  align-self: stretch;
  margin: 0;
  padding: 0px;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease;
}

/* карточки миссии */
.mission-card.expanded {
  width: 460px;
}

.mission-card.expanded h4 {
  padding-top: 20px;
}

.mission-card.expanded p {
  opacity: 1;
  max-height: 300px;
}

/* карточки ужимаются в миссии */
.mission-card.compressed {
  width: 218px;
}

.bureau-steps {
  max-width: 1160px;
  margin: 120px auto 0;
}

.bureau-inspo {
  text-align: center;
}

.bureau-inspo h2 {
  width: 982px;
  text-align: left;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  letter-spacing: -2.8px;
  margin-bottom: 10px;
}

.bureau-inspo p {
  text-align: left;
  width: 360px;
  margin: 0 auto 50px;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.steps-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.step-card {
  position: relative;
  width: 1160px;
  height: 326px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease, background-color 0.5s ease;
  z-index: 1;
}

.step-card:not(:first-child) {
  margin-top: -210px;
}

.step1 {
  background: #f8cfd3;
}
.step2 {
  background: #ffe8ea;
}
.step3 {
  background: #f8cfd3;
}
.step4 {
  background: linear-gradient(180deg, #ffddde, #fceff0);
}

.step-card p.step-num {
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 3px;
}

.step-card h1 {
  font-family: "CoFo Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 95%;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.step1 h1,
.step3 h1 {
  font-size: 120px;
  color: #ffe8ea;
  letter-spacing: -4.8px;
}

.step2 h1,
.step4 h1 {
  font-size: 80px;
  color: #f8cfd3;
  letter-spacing: -4.8px;
}

.step-card .step-desc {
  opacity: 0;
  text-align: left;
  width: 415px;
  color: #232323;
  font-family: "CoFo Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

/* скроллбар */
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-track {
  background: #ffe8ea;
}

body::-webkit-scrollbar-thumb {
  background-color: #f8cfd3;
  border-radius: 10px;
  border: 2px solid #ffe8ea;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #e6b8bd;
}
